{%- comment -%}
  check if there are items in the cart.
{%- endcomment -%}
{% if cart.item_count > 0 %}

  {% else %}
    <div class="cart_content">
      <h1>Your cart is empty</h1>
      <a style="margin-top: 1rem;" class="btn btn-dark" href="{{ routes.all_products_collection_url }}">Continue Shoping</a>
    </div>

{% endif %} 